.block {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 15px 20px 20px;
    position: relative;
    width: 1515px;
    height: 539px;
    border: 1px solid #000000;
}
.png {
    width: 365px;
    height: 446px;
    top: 46.5px;
    left: 385px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.title
h1{
    position: absolute;
    width: 450px;
    height: 42px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    bottom: 477px;
    right: 680px;
    left: 385px;
    top: 20px;
}
h2 {
    position: absolute;
    width: 1114px;
    height: 24px;
    left: 385px;
    top: 77px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #505050;
}
.text
ul {
    position: absolute;
    left: 55.45%;
    right: 26.4%;
    top: 24.3%;
    bottom: 71.24%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
