*, *:before, *:after {
    box-sizing: border-box;
}
@font-face {
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
}
.main {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1515px;
    height: 539px;
    box-sizing: border-box;
    border: 1px solid #000;
/*    padding: 20px 15px 20px 20px;*/
/*    margin: auto;*/
}
.log {
    padding-top: 60px;
    left: 385px;
    border: solid 1px;
}
.content {
/*    width: 1114px;
    height: 499px;*/
    border: solid 1px;
} 
h3 {
    font-weight: 400;
    font-size: 28px;
/*    line-height: 42px;*/
    color: #1A2;
}
p {
    width: 1114px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #5055
}
.align_next {
    display: flex;
    align-items: center;
}
.left_padding_11 {
    padding-left: 11px;
}
